<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>inventory</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <!--用户 登录 -->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!--仓库  浏览 -->
    <servlet>
        <servlet-name>deptServlet</servlet-name>
        <servlet-class>web.DeptServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deptServlet</servlet-name>
        <url-pattern>/deptList</url-pattern>
    </servlet-mapping>

    <!--仓库  删除 -->
    <servlet>
        <servlet-name>deptDeleteServlet</servlet-name>
        <servlet-class>web.DeptDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deptDeleteServlet</servlet-name>
        <url-pattern>/deptDelete</url-pattern>
    </servlet-mapping>

    <!-- 仓库 修改  保存 -->
    <servlet>
        <servlet-name>deptSaveServlet</servlet-name>
        <servlet-class>web.DeptSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deptSaveServlet</servlet-name>
        <url-pattern>/deptSave</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>goodListServlet</servlet-name>
        <servlet-class>web.GoodListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goodListServlet</servlet-name>
        <url-pattern>/goodList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>goodDeleteServlet</servlet-name>
        <servlet-class>web.GoodDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goodDeleteServlet</servlet-name>
        <url-pattern>/goodDelete</url-pattern>
    </servlet-mapping>

</web-app>
